*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Title */
h1{
  font-size: 36px;
  color: #5d512f;
}
h2{
  font-size: 32px;
  color: #5d512f;
  line-height: 2;
  font-weight: 700;
  width: 1200;
  text-align: center;
  margin: auto;
}
h2::before{
  content:url(/Pic/Titleimg.png);
  /* background-color: #000; */
  /* background-image: url(/Pic/Titleimg.png); */
  display:inline-block;
  width: 50px;
  height: 70px;
  overflow: hidden;
  vertical-align:text-bottom;
}
h2::after{
  content: "";
  width: 5em;
  height: 2px;
  background-color: #5d5d5d;
  display: block;
  margin: auto;
}
h3{
  font-size: 22px;
  color: #5d512f;
  font-weight: 700;
}

/* Header */
.Nav{
  display: flex;
  margin: auto;
  padding: 10px;
  width: 1500px;
  background-color: #fdf1cf;
  position: fixed;
  z-index: 10;
}
#top-shadow {
  position: fixed;
  top: 38px;
  left: 0;
  width: 100%;
  height: 42px;
  z-index: 9;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  display: none;
  overflow: auto;
}
.Nav .Logo img{
  width: 150px;
  padding: 0px 30px;
}
.NavBar{
  display: flex;
  margin: 0px 20px 0px 650px;
  align-items: center;
  color: #5d512f;
  font-size: 20px;
  font-weight: 700;
}
.NavBar .NavBarLink{
  display: flex;
  margin: 0px;
  padding: 0px;
}
.NavBar li{
list-style: none;
position: relative;
}
li + li::after{
content: "";
display: block;
background-color: #5d512f;
height: 1em;
width: 3px;
position: absolute;
top: 0px;
bottom: 0px;
margin: auto;
}
.NavBar a{
  text-decoration: none;
  color: #5d512f;
  margin: 0px 20px;
  display: block;
}
.NavBar a:hover {
  color: coral;
}
.NavBar .NavIcon{
  padding: 20px;
}
.NavBar .NavIcon:hover{
  color: coral;
  cursor: pointer;
}
.NavBar .LogIn{
  padding: 20px;
}
.NavBar .LogIn:hover{
  color: coral;
  cursor: pointer;
}
#bannerImg{
  width: 500px;
  position: relative;
  left: 45%;
  top: 150px;
  z-index: 9;
}
.SearchBar{
  display: flex;
  align-items: center;
  margin: 0px 300px 0px 300px;
  position: relative;
  top: 97px;
  padding: 10px;
  z-index: 8;
}
#SearchButton{
  width: 200px;
  height: 60px;
  color: #5d512f;
  background-color: #fff;
  border-color: #5d512f;
  border-radius: 30px;
  font-size: 18px;
  outline: none;
}
#SearchButton:hover{
  background: #d37006;
  color: #ffffff;
  border: #d37006;
  outline: none;
}
.SearchCol:hover{
  border: solid #5d512f 2px;
  box-shadow:0px 0px 3px 1px #5d512f ;
}
.SearchCol {
  display: flex;
  width: 600px;
  font-size: 18px;
  border: solid 2px #5d512f;
  border-radius: 30px;
  padding: 6px;
  margin: 0px 20px;
}
.icon {
  padding: 10px;
  color:#5d512f;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 70%;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: none;
}
.input-field:focus {
  border: none;
}


/* Body */
.Artical{
  justify-content: space-between;
  position: relative;
}
.ArticalWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  top: 200px;
  margin: 0 160px;
}
.ArticalPic{
  width: 550px;
  height: 300px;
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
}
.ArticalPic:hover{
  box-shadow: 0 0 5px 5px #ccc;
}
.ArticalPic img{
  max-width: 150%;
  max-height: 150%;
  width: auto;
  height: auto;
}
.likeDiv{
  width: 50px;
  height: 50px;
  position: relative;
  right: 550px;
  top: 250px;
  border-radius: 50%;
}
.likeDiv img{
  max-width: 110%;
  max-height: 110%;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 50%;
  bottom: 115px;
  left: -40px;
  cursor: pointer;
}
.SharePic{
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: 10px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 0px;
  border: #fdf1cf 3px solid;
}
.SharePic img{
  max-width: 100%;
  width: 100%;
  width: auto;
  height: auto;
}
.ArticalContent{
  width: 550px;
  padding: 10px;
  line-height: 2;
}
.ArticalContent a:hover{
  color: #5d512f;
}
.ArticalContent a{
  color: #c2aa67;
  text-decoration: none;
}
.RestaurantName{
  color: #5d512f;
  font-size: 24px;
  font-weight: 700;
}
.ArticalLocal{
  color: #5d512f;
  display: flex;
  font-size: 20px;
}
.ArticalDate{
  color: #ccc;
  line-height: 3;
  text-align: end;
}



/* Footer */
.Footer{
  margin:auto;
  font-size: 16px;
}
.Footer .Content{
  position: relative;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: #837244;
}
.Footer span{
  color: #c0a865;
  line-height: 2;
  font-weight: 700;
  font-size: 18px;
}
.Footer a{
  display: block;
  color:#fdf1cf;
  text-decoration: none;
  line-height: 1.2;
}